.main-div {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-flow: wrap;
  margin: 10px;
}

.card {
  width: 13% !important;
  height: 150px !important;
  background-color: rgb(40, 160, 207) !important;
  color: #ffff;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85%;
  align-self: center;
  width: 298px;
}

.tabs {
  width: 100%;
  height: 100%;
}

.contant-header {
  width: 100%;
  height: 50px;
  background-color: #ffff;
  border-bottom-style: solid;
  border-width: 1px;
  padding: 15px;
}

.header {
  font-size: large;
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-header {
  color: rgb(255, 0, 0);
  font-weight: 600;
  font-size: large;
  height: 20px;
  background-color: #ffff;
  align-self: center;
  width: 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
}
